@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
* {
	box-sizing: border-box;
	margin: 0; 
    padding: 0; 
    border: 0; 
}

body {
	font-family: "Poppins", sans-serif;
	color: #000;
	background: #181818;
}

ul {
	list-style: none;
}

li a {
	text-decoration: none;
}

/* Home */
.container_home {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
    width: 100%;
	overflow: auto;
	background: #181818;
}

.wrapper-home {
	position: absolute;
	top: 48%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.container_home > .wrapper-home > img {
	display: block;
    margin: 0 auto;
	width: 330px;
	height: 110px;
}

.container_home > .wrapper-home > p {
	color: #fff;
	font-size: 17px;
	text-align: center;
	letter-spacing: 0.105em;
	line-height: 60px;
	padding-top: 30px;
}

.wrapper-home > ul > li {
	float: left;
	padding: 0 5px;
}

.box {
	background: #EF4123;
	border-radius: 5px;
	width: 101px;
	height: 86px;
	padding-top: 10px;
	transition: 0.3s;

	text-align: center;
	color: #fff;
}

.box:hover{
	background-color: #fff;
	color: #EF4123;
}

a > .box > i {
	font-size: 48px;
}

/* Login */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.login {
    position: absolute;
    top: 45%;
    left: 50%;
    margin: -150px 0 0 -150px;
    width: 300px;
    height: 300px;
	font-family: 'Open Sans', sans-serif;
}

.login > img {
	display: block;
    margin: 0 auto;
	width: 300px;
	height: 110px;
}

.login > p {
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
	margin-top: 50px;
	margin-bottom: 5px;
	font-size: 14px;
}

.login > form > .btn-large {
    padding: 9px 14px;
    font-size: 15px;
    line-height: normal;
    border-radius: 5px;
}

.login > form > .btn-primary {
    background-color: #EF4123;
	border: 2px solid #EF4123;
    color: #fff;
	cursor: pointer;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
}

.login > form > .btn-primary:hover {
	transform: scale(0.96);
    transition-duration: 0.5s;
}

.login > form > .btn-block {
    width: 100%;
    display: block;
}

.login > form > input {
    width: 100%;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    outline: none;
    padding: 10px;
    font-size: 13px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    /* box-shadow: [horizontal offset] [vertical offset] [blur radius] [color] */
    box-shadow: inset 0 -5px 45px -1px rgba(100, 100, 100, 0.2), 0 1px 1px rgba(255, 255, 255, 0.2);
    transition: box-shadow .5s ease;
}

.login > form > input:focus {
    box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4), 0 1px 1px rgba(255, 255, 255, 0.2);
}