.topnav {
	overflow: hidden;
	background-color: #9a3a32;
	height: 40px;
}

.topnav > ul {
	display: inline-block;
	width: 100%;
	margin-top: 6px;
	padding-left: 15px;
	padding-right: 30px;	
}

.topnav > ul span {
	color: white;
	font-size: 20px;
}

.topnav > ul li {
	float: right;
	padding-left: 20px;
	font-size: large;
}

.topnav a {
	color: #fff;
}

.topnav a:hover {
    color: #484848;
}

.nameadmin{
	color: #fff;
    width: fit-content;
    padding: 0 10px;
    display: inline-block;
    cursor: default;
    border-right: 1px solid #fff;
}