.parent_database {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.column_database {
    width: 50%;
    border-radius: 10px;
    background-color: #f1f1f1;
}

.card_database {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    padding: 45px 16px;
    text-align: center;
}

#export {
    color: #fff;
    height: 28px;
    width: 79%;
    border-radius: 10px;
    border: 1px solid #fff;
    display: inline-block;
    position: relative;
    background-color: #9a3a32;
}

#export:hover {
    color: #fff;
    background-color: #484848;
}