.action_menu{
	overflow: hidden;
	background-color: #f2f2f2;
	height: 50px;
	padding-right: 30px;
	position: sticky;
	z-index: 5;
	width: 100%;
	box-shadow: 0 5px 7px 0 rgb(0 0 0 / 67%);
}

.action_menu ul {
	float: right;
}

.action_menu li {
	float: left;
	margin-top: 12px;
	border-left: 1px solid #bbb;
}

.action_menu li input {
	color: #7b746c;
	width: 72px;
    height: 27px;
	font-size: 18px;
	background: none;
}

.action_menu li #addButton:hover {
	color: #ffffff;
	background-color: rgba(0, 116, 145, 0.712);
}

.action_menu li #editButton:hover {
	color: #ffffff;
	background-color: rgba(255, 196, 0, 0.712);
}

.action_menu li #deleteButton:hover {
	color: #ffffff;
	background-color: rgba(255, 7, 7, 0.712);
}

.action_menu li #cancelButton:hover {
	color: #ffffff;
	background-color: rgba(255, 196, 0, 0.712);
}

.action_menu li #saveButton:hover {
	color: #ffffff;
	background-color: rgba(7, 110, 59, 0.712);
}

/* Search */
.search-container {
	float: left;
	width: 30%;
}

.search {
	width: 95%;
	position: relative;
	display: flex;
	margin-top: 7px;
    padding-left: 15px;
}

.searchTerm {
	width: 100%;
	border: 2px solid #b8b8b8;
	padding: 15px;
	height: 20px;
	border-radius: 5px 5px 5px 5px;
	outline: none;
	color: #000000;
	font-size: 16px;
}

.searchButton {
	background: #fff;
	color: #515151;
	cursor: pointer;
	font-size: 20px;
	position: absolute;
    top: 6px;
    right: 9px;
}

.searchButton:hover {
	color: #1a1a1a;
}