.form_content {
	height: calc(100vh - 135px);
	width: 70%;
	left: 30%;
	position: fixed;
	background-color: #888;
	overflow: auto;
	display: flex;
}

.form_content label {
	display: inline-block;
	border-bottom: 1px solid #515151;
	width: 100%;
	padding-top: 5px;
}

/* Form */
.form_content input[type=text], 
.form_content input[type=date],
.form_content input[type=password],
select,
textarea {
	width: 100%;
	padding: 10px 12px;
	border: 1px solid #a1a1a1;
	border-radius: 4px;
	resize: none;
}

.first_field {
	margin-top: -10px;
    padding-top: 15px!important;
}

.after_address {
	margin-top: 7px;
}

.last_field {
	padding-bottom: 10px!important;
}

.row {
	float: left;
	width: 100%;
	display: flex;
}

.col1 {
	flex: 10%;
	background-color: #222;
	color: #fff;
	padding: 5px 0;
	padding-left: 25px;
}

.col2 {
	flex: 50%;
	padding: 0 20px;
}

.col2 > span {
	display: inline-block;
	width: 100%;
	background-color: #F8E195;
	border: 1px solid #252525;
	border-radius: 4px;
	padding: 7px 12px;
}

.row textarea {
	height: 90px;
	margin-bottom: -10px;
	font-family: Arial, Helvetica, sans-serif;
}

.row input[type=date] {
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 6px;
	padding-bottom: 6px;
    font-size: 15px;
}

.row select {
	padding-top: 9px;
    padding-bottom: 9px;
    opacity: 1;
}

textarea[disabled],
select[disabled],
input[type=password]:disabled,
input[type=date]:disabled,
input[type=text]:disabled{
	background-color: #F8E195;
}

hr {
    margin-top: 0px;
    border-bottom: 7px solid #3B809B;
    width: 100%;
    margin-left: 20px;
}

.errorMsg {
	color: red;
    text-shadow: 0 0 5px #fff;
}

/* toggle */
.knobs, .layer
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button
{
    position: relative;
    width: 74px;
    height: 36px;
    overflow: hidden;
}

.button.b2
{
    border-radius: 4px;
	border: 1px solid #a1a1a1;
}

.checkbox
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs
{
    z-index: 2;
	top: -1px;
}

.layer
{
    width: 100%;
    background-color: #c4c4c4;
    transition: 0.3s ease all;
    z-index: 1;
}

/* Toggle Button */
#toggleButton .knobs:before
{
    content: 'NO';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 20px;
    height: 10px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background-color: #7f7f7f;
    border-radius: 2px;
    transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}

#toggleButton .checkbox:active + .knobs:before
{
    width: 46px;
}

#toggleButton .checkbox:checked:active + .knobs:before
{
    margin-left: -26px;
}

#toggleButton .checkbox:checked + .knobs:before
{
    content: 'YES';
    left: 40px;
    background-color: #9A3A32;
}


#toggleButton .checkbox:checked ~ .layer
{
    background-color: #fcebeb;
}