.navbar{
	overflow: hidden;
	background-color: #484848;
	height: 45px;
}

.navbar a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 0px 30px;
	margin: 8px 0;
	text-decoration: none;
	font-size: 17px;
	border-left: 1px solid #fff;
}

.navbar a:first-child {
	border-left: 0;
	padding-left: 17px;
}

.divider {
	width: 2px;
	height: 80%;
	background-color: #fff;
	display: inline-block;
}

.navbar a:hover {
	background-color: #ddd;
	color: black;
}