/* List Data */
.side_content {
	height: 101%;
	width: 30%;
	background-color: #000;
	color: #fff;
	position: fixed;
	z-index: 1;
	left: 0;
}

.side_content ul {
    overflow-y: scroll;
    height: calc(100vh - 135px);
    border-right: 1px solid #bfbfbf;
}

/* scrol bar */
.side_content ul::-webkit-scrollbar {
	width: 20px;
}

.side_content ul::-webkit-scrollbar-track{
    background: #3a809c;
    border-left: 9px solid #242424;
    border-right: 9px solid #242424;
} 

.side_content ul::-webkit-scrollbar-thumb{
    background: #868686;
    border-left: 4px solid #242424;
    border-right: 4px solid #242424;
}

/* wraper list */
.listData {
    list-style: none;
	margin: 5px 0;
    padding: 12px;
    transition: all 0.3s ease;
    cursor: pointer;
	background-color: #222;
	height: 65px;
	border-right: 5px solid #000;
	border-left: 5px solid #000;
}

.listData:hover,
.listData:focus {
	background-color: #555;
}

/* icon image */
.listData > img {
	height: 40px;
}

.listData > .img-distributor {
	position: relative;
	top: -4px;
}

/* detail data */
.listData > div {
	position: relative;
	top: -2px;
	left: 18px;
	display: inline-block;
}

.listData > .parrentDetail {
	display: flex;
	justify-content: space-between;
	top: -41px;
    left: 28px;
    margin: 0 28px;
}

.listData > div .wrapDetail {
	line-height: 15px;
}

.listData > div > div .sub {
	font-size: 13px;
	font-weight: unset;
}

.listData > div > div .top {
	font-size: 15px;
	font-weight: bold;
}